<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Roulette</a>
</nav>
<main class="container-fluid">
  <div class="row">
    <div class="col mt-2">
      <button class="btn btn-primary mr-2" (click)="OnClick()">Start</button>
      <button class="btn btn-danger mr-2" (click)="onStop()">Stop</button>
      <button class="btn btn-secondary mr-2" (click)="onReset()">Reset</button>
    </div>
    <div class="col mt-2 mb-4">
      <input type="number" [(ngModel)]="inputNumber" value="">
      <div class="col sm-4">
        <label for="red" id="red" class="ml-3">Red</label>
        <input class="form-check-input mt-4" type="radio" value="red" aria-label="Radio button for following text input"
               name="mode" [(ngModel)]="mode">

        <label for="black" id="black" class="ml-3">Black</label>
        <input class="form-check-input mt-4" type="radio" value="black" aria-label="Radio button for following text input"
               name="mode" [(ngModel)]="mode" >

        <label for="zero" id="zero" class="ml-3">Zero</label>
        <input class="form-check-input mt-4" type="radio" value="zero" aria-label="Radio button for following text input"
               name="mode" [(ngModel)]="mode" >

        <span class="ml-3">Balance: <strong>{{count}}</strong></span>
      </div>
    </div>
  </div>
  <div [ngStyle]="{display: 'inline-block', width: '40px', textAlign: 'centre', height: '40px', margin: '10px'}"
       *ngFor="let number of numbers; let i = index" appColor="{{number}}"
  >{{ number }}</div>
</main>

